
.comp-contactpersoninput {
	.table--horizontal {
		td {
			input {
				text-align: left;
			}
		}
	}
	@media (max-width: 991px) {
		.personinput-checkbox {
			label {
				color: #DDDDDD;
				input[type="checkbox"] + span {
					float: right;
				}
			}
		}
		.input-group .form-control:last-child {
			border-bottom: none
		}
		.input-group--style-label .input-group-addon {
			border-bottom: none;
		}
		.input-group--style-label:last-child .input-group-addon {
			border-bottom: 1px solid #CDD4D7;
		}
	}
}