.comp-fileinput {
	&:after, &:before {
	    display: table;
	    content: " ";
	}

	&:after {
	    clear: both;
	}
	
	.item {
		position: relative;
		padding: 2px;
		display: inline-block;
		float: left;
		>.inner {
			width: 150px;
			height: 150px;
			border: 1px solid #CDD4D7;
			position: relative;
			background-size: cover;
			background-position: center;
		}

		.title {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 8px 10px;
			background: rgba(0,0,0,0.5);
			color: #fff;
    		font-size: 12px;
		}
		
		.control-bar {
			position: absolute;
			top: 0;
			width: 100%;
			background: rgba(0,0,0,0.5);
		}
		.deleteBtn {
			position: absolute;
			top: 0;
		    right: 0;
		    z-index: 1;
		    padding: 5px;
		    font-size: 12px;
		}

		.editBtn {
		    display: inline-block;
		    padding: 1px 0 0 6px;
		    font-size: 18px;
		    cursor: pointer;
		}

		i {
			color: #fff;
		}

		.image-popup {
			display: table;
			position: absolute;
			top: 110%;
			left: 50%;
			margin-left: -160px;
			min-width: 320px;
			z-index: 3;
			padding: 10px;
			background-color: #fff;
			border: 1px solid rgba(0, 0, 0, 0.15);
		    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		    background-clip: padding-box;

			textarea {
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				height: 40px;
				border: 1px solid #CDD4D7;
				outline: none;
				resize: none;
			}

			&:before,
			&:after {
				content: " ";
				position: absolute;
				bottom: 100%;
				left: 50%;
				height: 0;
				width: 0;
				border: solid transparent;
				pointer-events: none;
			}
			&:after {
				margin-left: -10px;
				border-width: 10px;
				border-color: rgba(136, 183, 213, 0);
				border-bottom-color: #fff;
			}
			&:before {
				margin-left: -12px;
				border-width: 12px;
				border-color: rgba(194, 225, 245, 0);
				border-bottom-color: rgba(0, 0, 0, 0.15);
			}

			.button-wrapper {
				display: table-cell;
				width: 92px;
				vertical-align: middle;
			}
			.btn {
				padding: 10px 12px;
				border-radius: 2px;
				&.green-color {
					background-color: #08B995;
				}
				&.red-color {
					background-color: #DE3615;
				}
				i {
					color: white;
				}
			}
		}

		&.selector {
			.inner {
				display: table;
			}
			label {
				display: table-cell;
				vertical-align: middle;
				background-color: #fff;

				input {
					display: none;
				}

				.icon-placeholder {
					color: #7C8589;
					text-align: center;

					i {
						font-size: 50px;
						color: #7C8589;
					}

				}
				.placeholder {
					padding: 15px 0 0;
					font-size: 14px;
					font-weight: normal;
					color: #7C8589;
					text-align: center;
				}
				&:hover {
					.icon-placeholder {
						i {
							color: #08B995;
						}
					}
					.placeholder {
						color: #08B995;
					}
				}
			}
		}
		@media (max-width: 992px) {
			.image-popup {
				min-width: 300px;
				margin-left: -226px;
				&:before,
				&:after  {
					left: 75%;
				}
				textarea {
					height: 52px;
				}
			}
		}
	}
}