.comp-zalen {

	.table--horizontal {
		&.table > tbody > tr > th, &.table > tbody > tr > td {
			padding: 0;
		}

		&.table-bordered > thead > tr > th, &.table-bordered > thead > tr > td {
			border-bottom-width: 1px;
		}
		
		background-color: #fff;
		th {
			font-weight: normal;
			color: #A0A8AC;
			padding: 10px;
			text-align: center;

			&:first-child {
				background-color: #F0F0F0;
				color: #7C8589;	
				min-width: 40px;
			    font-size: 16px;
			    padding: 0;
			    vertical-align: middle;
			}

			&:nth-child(2) {
				min-width: 150px;
				text-align: left;
			}
		}

		td {
			text-align: center;
			input {
				width: 100%;
				padding: 8px;
				border: none;
				outline: none;
				text-align: center;
				color: #7C8589;
			}

			&:first-child {
				background-color: #F0F0F0;
				color: #7C8589;	
				font-size: 16px;
			    padding: 0;
			    vertical-align: middle;

			    i {
			    	font-size: 16px;
			    }
			}

			&:nth-child(2) {
				input {
					text-align: left;
				}
			}
		}

		tfoot {
			.placeholder {
				text-align: left;
				color: #DDDDDD;
				display: block;
			    font-weight: normal;
			    margin: 0;
			}
		}
	}


	.table--vertical {

		background-color: #fff;
		th {
			font-weight: normal;
			color: #A0A8AC;
			padding: 10px;
		}

		td {
			input {
				width: 100%;
				padding: 8px;
				border: none;
				outline: none;
				color: #7C8589;
			}
		}

	}
}