.comp-fileinput {
	&:after, &:before {
	    display: table;
	    content: " ";
	}

	&:after {
	    clear: both;
	}
	
	.item {
		padding: 2px;
		display: inline-block;
		float: left;
		>.inner {
			width: 150px;
			height: 150px;
			border: 1px solid #CDD4D7;
			position: relative;
			background-size: cover;
			background-position: center;
		}

		.title {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 5px;
			background: rgba(0,0,0,0.6);
			color: #fff;
    		font-size: 12px;
		}

		&.selector {
			.inner {
				display: table;
			}
			label {
				display: table-cell;
				vertical-align: middle;

				input {
					display: none;
				}

				.icon-placeholder {
					color: #7C8589;
					text-align: center;

					i {
						font-size: 50px;
					}

				}
				.placeholder {
					padding: 15px 0 0;
					font-size: 16px;
					font-weight: normal;
					color: #7C8589;
					text-align: center;
				}
			}
		}
	}
}