
.form-group {
    margin-bottom: 25px;
	>label {
		display: block;
		margin-bottom: 15px;
		font-size: 16px;
		font-family: 'Rubik', sans-serif;
		font-weight: normal;
	}

	&.no-margin-bottom {
		margin-bottom: 0;
	}
}


.form-control {
	height: 40px;
	box-shadow: none;
	border-radius: 0;
	border-color: #CDD4D7;
	color: #7C8589;

	&:focus {
		border-color: #08B995;
		box-shadow: none;
	}
}

textarea {
	resize: vertical;
}

.input-group {
	width: 100%;
	&:last-of-type {
		i {
			font-size: 18px;
		}
	}
}

input {
	padding: 10px;
	height: 40px;
	color: #7C8589;
	font-size: 16px;
}

.input-group-addon {
	width: 40px;
	padding: 6px 10px;
	i {
		font-size: 18px;
		vertical-align: middle;
	}
	i.iconc-plus {
		font-size: 12px;
	}
}

label {
	margin-bottom: 0px;
}

.comp-radiolist {
	.form-control {
		span {
			line-height: 25px;
		}
	}
}
a.question-mark-icon {
	/*position: absolute;
	right: 10px;
	bottom: 10px;*/
	position: relative;
	display: inline-block;
	/*float: right;*/
	width: 22px;
	height: 22px;
	margin-left: 10px;
	margin-right: 20px;
	vertical-align: middle;
	background-image: url("../images/icon-question.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 8px 17px;
    border-radius: 50%;
	border: 1px solid #CDD4D7;
}

.popover {
	border-radius: 0px;
}

.popover.bottom {
	margin-top: 20px;
}

.popover-content {
	padding: 10px 15px;
	color: #101010;
	line-height: 24px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}

.aantal-personen {
	.input-group-addon {
		width: 75px;
	}
}


.password-form-wrapper {
	.is_mobile {
		display: none;
	}
	@media screen and (max-width: 991px) {
		.is_mobile {
			display: block;
		}

		.popover {
			display: none !important;
		}
	}


	&.is_popup {
		.is_mobile {
			display: block;
		}

		.popover {
			display: none !important;
		}
	}
}


.clear-both {
	clear: both;
}
@media screen and (min-width: 1550px) {
	.page_project_details_checkbox {
		.col-lg-6 {
			width: 33.33%;
		}
	}
	.clear-both {
		clear: none;
	}
}

.dashboard_upper_info {
	.inner {
		text-align: right;
	}
	.form-group {
		max-width: 340px;
		width: 100%;
		display: inline-block;
		margin-bottom: 0;
		padding-right: 30px;
		label {
			display: inline-block;
			margin-right: 15px;
		}
		div {
			display: inline-block;
			max-width: 200px;
			width: 100%;
		}
	}
	input, .dropdown {
		display: inline-block;
		max-width: 200px;
		width: 100%;
	}
	@media screen and (max-width: 1199px) {
		.form-group {
			margin-top: 20px;
		}
	}
	@media screen and (max-width: 767px) {
		.form-group {
			max-width: 100%;
			display: block;
			lable {
				margin-right: 10px;
			}
			div {
				max-width: 180px;
			}
		}
		input, .dropdown {
			max-width: 180px;
		}
	}
}
