header.desktop {
	background-color: #fff;
	border-bottom: 1px solid #CDD4D7;
	height: 60px;


	.dropdown--user {
		float: right;
		.btn-user, .btn-user:focus {
			> span {
		    	padding: 0px;
			}
			i {
				padding: 5px 10px;
				color: #fff;
				font-size: 22px;
			}
			i.iconc-person {
				padding-right: 20px;
				font-size: 26px;
			}
		}
	}

	@media (max-width: 992px) {
		display: none;
	}
}

header.mobile {
	display: none;
	height: 52px;
	padding: 0 15px;
	background-color: #343F47;


	.header__logo {
		float: left;
		height: 52px;
		width: 100px;
		background-image: url('../images/logo-dnls-simple.svg');
		background-repeat: no-repeat;
		background-size: contain;
	}

	.header__menu {
		float: right;
		background: none;
		border: none;
		height: 52px;
		outline: none;

		i {
			color: #fff;
			font-size: 26px;
    		vertical-align: middle;
    		opacity: 1;
		}
		i.iconc-cross-thin {
			font-size: 14px;
		}

		i.close {
			display: none;
		}

		&.opened {
			i.open {
				display: none;
			}
			i.close {
				display: inherit;
			}
		}
	}

	@media (max-width: 992px) {
		display: block;
	}
}


.mobile-overlay-menu {
	display: none;
	background-color: #45545F;

	a, a:focus, a:link, a:visited {
		font-size: 16px;
		color: #fff;
		display: block;
		padding: 12px 20px;
		text-decoration: none;
		border-bottom: 1px solid #343F47;

		&:hover,
		&:focus {
			background-color: #4B5A65;
		}
		&.has-childerns {
			i {
				float: right;
				color: #fff;
				font-size: 20px;
			}
		}
	}

	ul {
		list-style: none;
		padding-left: 0;
	}

	ul.submenu {
		display: none;
		a {
			position: relative;
			padding-left: 50px;
			&:hover,
			&:focus {
				&:before {
					content: "•";
					position: absolute;
					top: 10px;
					left: 20px;
	    			color: #fff;
				}
			}
		}
	}
}