.page-panel {
	border: 1px solid #CDD4D7;
	&__heading {
		background: #fff;
		padding: 15px;
		text-align: center;
		border-bottom: 1px solid #CDD4D7;
	}

	&__inner {
		display: table;
		width: 100%;
		height: 800px;
		&__left {
			display: table-cell;
			width: 250px;
			vertical-align: top;
			background: #fff;
			border-right: 1px solid #CDD4D7;
		}

		&__right {
			display: table-cell;
			width: 280px;
			vertical-align: top;
			background: #fff;
			border-left: 1px solid #CDD4D7;
		}

		&__content {
			display: table-cell;
			padding: 20px;
			background-color: #FCFCFC;
		}
	}



	@media screen and (max-width: 992px) {
		border: none;

		&__heading {
			background: none;
			border: none;
		}

		&__inner {
			&__left, &__right {
				display: none

			}

			&__content {
				padding: 0;
			}
		}
	}
}


.tab-content {

	.tab_drawer_heading {
		margin: 0;
		font-weight: normal;
		font-size: 16px;
		display: none;

		a {
			display: block;
			background-color: #fff;
			color: #101010;
			padding: 20px;
			text-decoration: none;
			border-bottom: 1px solid #CDD4D7;
		}

		&.d_active {
			a {
				color: #FF713E;
			}
		}
	}

	.tab-pane {
		padding: 20px 0;
	}

	@media screen and (max-width: 992px) {
		.tab_drawer_heading {
			display: block;
			a {
				position: relative;
				margin: 0;
				padding: 20px;
				border-radius: 0;
				border: 1px solid #CDD4D7;
				border-bottom: none;
				color: #101010;
				i {
				    position: absolute;
				    top: 13px;
				    right: 20px;
				    margin-top: 5px;
					font-size: 20px;
					color: #101010;
				}
			}
			&.d_active {
				a, a:hover, a:focus {
					color: #FF713E;
					border-bottom: 1px solid #CDD4D7;
					i {
						color: #FF713E;
					}
				}
			}
			&:last-of-type {
				a {
					border-bottom: 1px solid #CDD4D7;
				}
			}
		}
		.tab-pane {
			padding: 20px;
		}
	}
}
.nav-tabs {
	&--vertical {
		border: none;
		>li {
			float: none;
			margin-bottom: 0;
			a {
				margin: 0;
				padding: 20px;
				border-radius: 0;
				border: none;
				border-bottom: 1px solid #CDD4D7;
				color: #101010;
				i {
				    margin-top: 5px;
				    float: right;
					font-size: 11px;
					color: #101010;
				}
			}
			&.active {
				a, a:hover, a:focus {
					color: #FF713E;
					border: none;
					border-bottom: 1px solid #CDD4D7;
					i {
						color: #FF713E;
					}
				}
			}
		}

		
	}
}