@import "bootstrap-sass/assets/stylesheets/bootstrap";

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}

.input-group-addon {
	a {
		color: #7C8589;
	}
	span {
		width: 20px;
    	display: inline-block;
	}
	span.hover {
		display: none;
	}

	&:hover {
		span.hover {
			display: block;
		}

		span.default {
			display: none;
		}
	}
}

.Tab {

	>.left {
		float: left;
		width: 250px;
		.navitem {
			font-size: 16px;
		    border: 1px solid #CDD4D7;
		    padding: 10px;
		    display: block;
		    color: #101010;
		    border-top: none;
		}
	}

	>.right {
		width: auto;
    	margin-left: 250px;
    	padding: 15px;
    	background-color: #FCFCFC;
		.navitem {
    		display: none;
			font-size: 16px;
		    border: 1px solid #CDD4D7;
		    padding: 10px;
		    color: #101010;
		    border-top: none;
		}
	}

	.content {
		display: none;

		&.active {
			display: block;
		}
	}
}

.formstyle1 {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 30px 20px;
    border: 1px solid #e6eaeb;
	color: #101010;
	
	a {
		color: #101010;
		text-decoration: underline;
	}	
	.form_title {
	    padding: 20px 0;
	    border-bottom: 1px solid #e6eaeb;
		margin-bottom: 35px;
	}
	input {
	    border: 1px solid #e6eaeb;
	    margin-bottom: 20px;
	}
	.form-control.error {
	    background: transparent url(../images/icons/cross-icon.png) no-repeat center right 12px;
	    border: 1px solid #ff2a00;
	    outline: none;
	}
	.form-control.valid {
	    background: transparent url(../images/icons/green-check-icon.png) no-repeat center right 12px;
	}
	label.error {
		position: absolute;
	    left: 110%;
	    top: -11px;
	    width: 100%;
	    color: #101010;
	    background-color: #fff;
	    padding: 18px;
	    border: 1px solid #e6eaeb;
		font-weight: 100;
	}

	.errordiv {
		position: absolute;
	    left: 110%;
	    top: -11px;
	    width: 100%;
	    color: #101010;
	    background-color: #fff;
	    padding: 18px;
	    border: 1px solid #e6eaeb;
		font-weight: 100;
		display: none;
		
		ul {
			padding: 0;
			margin: 0;

			li {
			    list-style: none;
			}
		}
		.errorli {
			color: #ff2a00;
		    background: transparent url(../images/icons/cross-icon.png) no-repeat center left;
		    outline: none;
		    padding: 0 22px;
		    background-size: 10px;
		}
		.validli {
			color: #08b995;
		    background: transparent url(../images/icons/green-check-icon.png) no-repeat center left;
		    outline: none;
		    padding: 0 22px;
		    background-size: 10px;

		}

	}
}

.loginform {
	padding: 50px 0; 	
    background-color: #ecf5f8;
}

.btn-green {
    border-radius: 20px;
    padding: 8px 19px;
    font-size: 16px;
    background-color: #08b995;
    outline: none;
    color: #fff;
}

