
@import "_page-panel";
@import "_form";
@import "_comp-fileinput";
@import "_comp-zalen";


body {
	background-color: #ECF5F8;
	font-family: 'Open Sans', sans-serif;
}

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px;
}


.block-info {
	padding: 20px;
	border-bottom: 1px solid #CDD4D7;

	.last_updated {
		color: #A0A8AC;
	}
}


.btn-green, .btn-green:focus {
    color: #fff;
    background-color: #08B995;
    border-color: #08B995;
    outline: none;

    &:hover {
	    color: #08B995;
	    background-color: #fff;
	    border-color: #08B995;
	    outline: none;
	}
}

.btn-plain {
	border: none;
	color: #7C8589;
	background: none;

	&:hover {
		color: #08B995;
	}
}

.btn--round {
	border-radius: 40px;
    padding: 8px 20px;
}


.btn--nopad {
	padding: 0;
}



.input-group-vmerge {
	.input-group {
		margin-top: -1px;
	}

	input[readonly] {
	    background-color: #fff;
	    color: #DDDDDD;
	    &:focus {
	    	border-color: #CDD4D7;
	    }
	}


}
.input-group-addon {
	min-width: 40px;
	border-radius: 0;

	.hover-show {
		display: none;
	}

	&:hover {
		.hover-show {
			display: inherit;
		}

		.hover-hide {
			display: none;
		}
	}
}

.Tab {

	>.left {
		float: left;
		width: 250px;
		.navitem {
			font-size: 16px;
		    border: 1px solid #CDD4D7;
		    padding: 10px;
		    display: block;
		    color: #101010;
		    border-top: none;
		}
	}

	>.right {
		width: auto;
    	margin-left: 250px;
    	padding: 15px;
    	background-color: #FCFCFC;
		.navitem {
    		display: none;
			font-size: 16px;
		    border: 1px solid #CDD4D7;
		    padding: 10px;
		    color: #101010;
		    border-top: none;
		}
	}

	.content {
		display: none;

		&.active {
			display: block;
		}
	}
}

.formstyle1 {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 30px 20px;
    border: 1px solid #e6eaeb;
	color: #101010;
	
	a {
		color: #101010;
		text-decoration: underline;
	}	
	.form_title {
	    padding: 20px 0;
	    border-bottom: 1px solid #e6eaeb;
		margin-bottom: 35px;
	}
	input {
	    border: 1px solid #e6eaeb;
	    margin-bottom: 20px;
	}
	.form-control.error {
	    background: transparent url(../images/icons/cross-icon.png) no-repeat center right 12px;
	    border: 1px solid #ff2a00;
	    outline: none;
	}
	.form-control.valid {
	    background: transparent url(../images/icons/green-check-icon.png) no-repeat center right 12px;
	}
	label.error {
		position: absolute;
	    left: 110%;
	    top: -11px;
	    width: 100%;
	    color: #101010;
	    background-color: #fff;
	    padding: 18px;
	    border: 1px solid #e6eaeb;
		font-weight: 100;
	}

	.errordiv {
		position: absolute;
	    left: 110%;
	    top: -11px;
	    width: 100%;
	    color: #101010;
	    background-color: #fff;
	    padding: 18px;
	    border: 1px solid #e6eaeb;
		font-weight: 100;
		display: none;
		
		ul {
			padding: 0;
			margin: 0;

			li {
			    list-style: none;
			}
		}
		.errorli {
			color: #ff2a00;
		    background: transparent url(../images/icons/cross-icon.png) no-repeat center left;
		    outline: none;
		    padding: 0 22px;
		    background-size: 10px;
		}
		.validli {
			color: #08b995;
		    background: transparent url(../images/icons/green-check-icon.png) no-repeat center left;
		    outline: none;
		    padding: 0 22px;
		    background-size: 10px;

		}

	}
}

.loginform {
	padding: 50px 0; 	
    background-color: #ecf5f8;
}

.btn-green {
    border-radius: 20px;
    padding: 8px 19px;
    font-size: 16px;
    background-color: #08b995;
    outline: none;
    color: #fff;
}

