.navbar {
	margin-bottom: 0;
}

#content {
    box-sizing: border-box;
    clear: both;
    position: relative;
}

.sidebar {
	position: absolute;
	/*width: 220px;*/
	top: 0;
	bottom: 0;
	/*height: 100%;*/
/*	background: #4d394b;
    color: #ab9ba9;*/
}

.sidebar-wrapper {
	height: 940px;
	border-right: 1px solid #ccc;
    background-color: #f5f5f5;
    width: 220px;
    position: absolute;
    top: 0;
    bottom: auto;
}
.has-sidebar {
	margin-left: 250px;
	/*margin-top: 75px;*/
}


/* Login Form ---------------------*/

.loginFormCt {
	margin-top: 50px;
}

.loginFormCt label {
	font-weight: 300;
}

.loginForm-logo {
	display: block;
	text-align: center;
}

.loginForm-logo img {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}

.loginFormCt h1 {
	font-size: 24px;
    font-weight: 300;
    color: #333;
    text-align: center;
}

.loginForm {
	margin-top: 30px;
	padding: 20px 20px 25px;
	border: 1px solid #d8dee2;
    border-radius: 5px;
}

.passLabel {
	display: block;
}

.loginForm-newaccount {
	margin-top: 30px;
	padding: 15px 0;
	border: 1px solid #d8dee2;
    border-radius: 5px;
    text-align: center;
}

.loginSubmitBtn {
	width: 100%;
}