{
        "current": "local",
        "site_title": "Advertiser Dashboard",
        "site_id": 1,
        "logo_path": "../images/logos/logo-dnls-white.svg",
        "show_intercom": 0,
        "show_usersnap": 0,
        "adverter_page_link": "/adverteerder-worden",
        "usersnap_apikey": "ef814b06-b5f4-4f02-a3c0-35d1b9ef8805",
        "googlemap_apikey": "AIzaSyDVPCUUAYU54oyUU-CZbaxkXuXPtBoiwa0",
        "locale" : "nl",
        "dateformat_default" : "LL",
        "dateformat_full" : "LLL",
        "project_status": {
                "waiting_for_unpublish" : 4
        },
        "local": {
                "root_host": "webeffects.advapp",
                "root_url": "https://webeffects.advapp",
                "api_host": "https://webeffects.dnls",
                "api_url": "https://webeffects.dnls/api"
        },

        "dev": {
                "root_host": "dnls-app.webeff-dev.nl",
                "root_url": "https://dnls-app.webeff-dev.nl",
                "api_host": "https://dnls.webeff-dev.nl",
                "api_url": "https://dnls.webeff-dev.nl/api"
        },

        "staging": {
                "root_host": "dnlsde-app.webeff-staging.nl",
                "root_url": "https://dnlsde-app.webeff-staging.nl",
                "api_host": "https://dnls.webeff-staging.nl",
                "api_url": "https://dnls.webeff-staging.nl/api"
        },

        "prod": {
                "root_host": "dashboard.topvenues-london.co.uk",
                "root_url": "https://dashboard.topvenues-london.co.uk",
                "api_host": "https://dnls.nl",
                "api_url": "https://dnls.nl/api"
        }
}