{
	"current": "local",
	"site_title": "Advertiser Dashboard",
	"site_id": 1,
	"show_intercom": 0,
	"show_usersnap": 0,
	"usersnap_apikey": "ef814b06-b5f4-4f02-a3c0-35d1b9ef8805",
	"project_status": {
		"waiting_for_unpublish" : 4
	},
	"local": {
		"root_host": "webeffects.advapp",
		"root_url": "http://webeffects.advapp",
		"api_host": "http://webeffects.dnls",
		"api_url": "http://webeffects.dnls/api"
	},

	"dev": {
		"root_host": "webeffects.advapp",
		"root_url": "http://webeffects.advapp",
		"api_host": "http://dnls.webeff",
		"api_url": "http://dnls.webeff.nl/api"
	},

	"prod": {
		"root_host": "webeffects.advapp",
		"root_url": "http://webeffects.advapp",
		"api_host": "http://webeffects.dnls",
		"api_url": "http://webeffects.advapp/api"
	}

}