.page-panel {
  border: 1px solid #CDD4D7; }
  .page-panel__heading {
    background: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #CDD4D7; }
  .page-panel__inner {
    display: table;
    width: 100%;
    height: 800px; }
    .page-panel__inner__left {
      display: table-cell;
      width: 250px;
      vertical-align: top;
      background: #fff;
      border-right: 1px solid #CDD4D7; }
    .page-panel__inner__right {
      display: table-cell;
      width: 280px;
      vertical-align: top;
      background: #fff;
      border-left: 1px solid #CDD4D7; }
    .page-panel__inner__content {
      display: table-cell;
      padding: 20px;
      background-color: #FCFCFC; }
  @media screen and (max-width: 992px) {
    .page-panel {
      border: none; }
      .page-panel__heading {
        background: none;
        border: none; }
      .page-panel__inner__left, .page-panel__inner__right {
        display: none; }
      .page-panel__inner__content {
        padding: 0; } }

.tab-content .tab_drawer_heading {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  display: none; }
  .tab-content .tab_drawer_heading a {
    display: block;
    background-color: #fff;
    color: #101010;
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid #CDD4D7; }
  .tab-content .tab_drawer_heading.d_active a {
    color: #FF713E; }
.tab-content .tab-pane {
  padding: 20px 0; }
@media screen and (max-width: 992px) {
  .tab-content .tab_drawer_heading {
    display: block; }
  .tab-content .tab-pane {
    padding: 20px; } }

.nav-tabs--vertical {
  border: none; }
  .nav-tabs--vertical > li {
    float: none;
    margin-bottom: 0; }
    .nav-tabs--vertical > li a {
      padding: 20px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #CDD4D7;
      color: #101010; }
    .nav-tabs--vertical > li.active a, .nav-tabs--vertical > li.active a:hover, .nav-tabs--vertical > li.active a:focus {
      color: #FF713E;
      border: none;
      border-bottom: 1px solid #CDD4D7; }

header.desktop {
  background-color: #fff;
  border-bottom: 1px solid #CDD4D7;
  height: 60px; }
  header.desktop .dropdown--user {
    float: right; }
  @media (max-width: 992px) {
    header.desktop {
      display: none; } }

header.mobile {
  display: none;
  height: 52px;
  padding: 0 15px;
  background-color: #343F47; }
  header.mobile .header__logo {
    float: left;
    height: 52px;
    width: 100px;
    background-image: url("../images/logo-dnls-simple.svg");
    background-repeat: no-repeat;
    background-size: contain; }
  header.mobile .header__menu {
    float: right;
    background: none;
    border: none;
    height: 52px;
    outline: none; }
    header.mobile .header__menu i {
      color: #fff;
      font-size: 26px;
      vertical-align: middle; }
    header.mobile .header__menu i.close {
      display: none; }
    header.mobile .header__menu.opened i.open {
      display: none; }
    header.mobile .header__menu.opened i.close {
      display: inherit; }
  @media (max-width: 992px) {
    header.mobile {
      display: block; } }

.mobile-overlay-menu {
  display: none;
  background-color: #45545F; }
  .mobile-overlay-menu a, .mobile-overlay-menu a:focus {
    font-size: 16px;
    color: #fff;
    display: block;
    padding: 10px 15px; }
    .mobile-overlay-menu a:hover, .mobile-overlay-menu a:focus:hover {
      background-color: #4B5A65; }
  .mobile-overlay-menu ul {
    list-style: none;
    padding-left: 0; }
  .mobile-overlay-menu ul.submenu a {
    padding-left: 50px; }

.form-default .form-group {
  margin-bottom: 25px; }
  .form-default .form-group > label {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 16px; }
.form-default .form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #CDD4D7; }
  .form-default .form-control:focus {
    border-color: #08B995; }

.comp-fileinput:after, .comp-fileinput:before {
  display: table;
  content: " "; }
.comp-fileinput:after {
  clear: both; }
.comp-fileinput .item {
  padding: 2px;
  display: inline-block;
  float: left; }
  .comp-fileinput .item > .inner {
    width: 150px;
    height: 150px;
    border: 1px solid #CDD4D7;
    position: relative;
    background-size: cover;
    background-position: center; }
  .comp-fileinput .item .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 12px; }
  .comp-fileinput .item.selector .inner {
    display: table; }
  .comp-fileinput .item.selector label {
    display: table-cell;
    vertical-align: middle; }
    .comp-fileinput .item.selector label input {
      display: none; }
    .comp-fileinput .item.selector label .icon-placeholder {
      color: #7C8589;
      text-align: center; }
      .comp-fileinput .item.selector label .icon-placeholder i {
        font-size: 50px; }
    .comp-fileinput .item.selector label .placeholder {
      padding: 15px 0 0;
      font-size: 16px;
      font-weight: normal;
      color: #7C8589;
      text-align: center; }

.comp-zalen .table--horizontal {
  background-color: #fff; }
  .comp-zalen .table--horizontal.table > tbody > tr > th, .comp-zalen .table--horizontal.table > tbody > tr > td {
    padding: 0; }
  .comp-zalen .table--horizontal.table-bordered > thead > tr > th, .comp-zalen .table--horizontal.table-bordered > thead > tr > td {
    border-bottom-width: 1px; }
  .comp-zalen .table--horizontal th {
    font-weight: normal;
    color: #A0A8AC;
    padding: 10px;
    text-align: center; }
    .comp-zalen .table--horizontal th:first-child {
      background-color: #F0F0F0;
      color: #7C8589;
      min-width: 40px;
      font-size: 16px;
      padding: 0;
      vertical-align: middle; }
    .comp-zalen .table--horizontal th:nth-child(2) {
      min-width: 150px;
      text-align: left; }
  .comp-zalen .table--horizontal td {
    text-align: center; }
    .comp-zalen .table--horizontal td input {
      width: 100%;
      padding: 8px;
      border: none;
      outline: none;
      text-align: center;
      color: #7C8589; }
    .comp-zalen .table--horizontal td:first-child {
      background-color: #F0F0F0;
      color: #7C8589;
      font-size: 16px;
      padding: 0;
      vertical-align: middle; }
      .comp-zalen .table--horizontal td:first-child i {
        font-size: 16px; }
    .comp-zalen .table--horizontal td:nth-child(2) input {
      text-align: left; }
  .comp-zalen .table--horizontal tfoot .placeholder {
    text-align: left;
    color: #DDDDDD;
    display: block;
    font-weight: normal;
    margin: 0; }

.comp-sidebar {
  position: fixed;
  left: 0;
  background-color: #45545F;
  height: 100%;
  width: 225px; }
  .comp-sidebar .btn--add {
    margin: 0 auto;
    position: absolute;
    bottom: 25px;
    left: 10px; }
  .comp-sidebar > .logo {
    width: 100%;
    height: 125px;
    background-color: #343F47; }
  .comp-sidebar .projects-list-wrapper {
    padding: 20px 0;
    max-height: 350px;
    overflow-y: auto; }
  .comp-sidebar ul {
    list-style: none;
    padding-left: 15px; }
  .comp-sidebar li {
    padding: 10px 0; }
    .comp-sidebar li a {
      color: #fff;
      font-family: 'Rubik', sans-serif; }
  @media (max-width: 992px) {
    .comp-sidebar {
      display: none; } }

body {
  background-color: #ECF5F8;
  font-family: 'Open Sans', sans-serif; }

i {
  color: #7C8589; }

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px; }

.content-wrapper {
  padding: 35px; }
  .content-wrapper.has-sidebar {
    /*margin-left: 225px;*/ }
  @media (max-width: 992px) {
    .content-wrapper.has-sidebar {
      margin-left: 0; } }

.block-info {
  padding: 20px;
  border-bottom: 1px solid #CDD4D7; }
  .block-info .last_updated {
    color: #A0A8AC; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  box-shadow: none; }

.btn-green, .btn-green:focus {
  color: #fff;
  background-color: #08B995;
  border-color: #08B995;
  outline: none; }
  .btn-green:hover, .btn-green:focus:hover {
    color: #08B995;
    background-color: #fff;
    border-color: #08B995;
    outline: none; }

.btn-plain {
  border: none;
  color: #7C8589;
  background: none; }
  .btn-plain:hover {
    color: #08B995; }

.btn-dropdown {
  width: 100%;
  padding: 10px 15px;
  border-radius: 0;
  background: #fff;
  border: 1px solid #CDD4D7;
  color: #7C8589;
  outline: none;
  box-shadow: none;
  text-align: left; }
  .btn-dropdown i {
    float: right;
    font-size: 18px; }

.btn--round {
  border-radius: 40px;
  padding: 8px 20px; }

.btn--nopad {
  padding: 0; }

/* Used in header desktop */
.btn-user, .btn-user:focus {
  border-radius: 0;
  height: 60px;
  min-width: 185px;
  padding: 0;
  color: #fff;
  background-color: #08B995;
  border-color: #08B995;
  outline: none; }
  .btn-user:hover, .btn-user:focus:hover {
    color: #fff;
    background-color: #08B995;
    border-color: #08B995;
    outline: none; }
  .btn-user > span, .btn-user:focus > span {
    display: inline-block;
    vertical-align: middle;
    line-height: 100%;
    padding: 5px 15px; }
  .btn-user .usericon, .btn-user:focus .usericon {
    font-size: 20px; }

.dropdown--style1 .dropdown-menu {
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-width: 185px;
  width: 100%; }
  .dropdown--style1 .dropdown-menu > li {
    border-bottom: 1px solid #CDD4D7; }
    .dropdown--style1 .dropdown-menu > li > a {
      color: #7C8589;
      padding: 15px 25px; }
    .dropdown--style1 .dropdown-menu > li > a:hover, .dropdown--style1 .dropdown-menu > li > a:focus {
      color: #7C8589; }

/* Used in header desktop */
.dropdown-menu--user {
  border-radius: 0;
  margin: 0;
  padding: 0;
  min-width: 185px;
  width: 100%; }
  .dropdown-menu--user .divider {
    margin: 0; }
  .dropdown-menu--user > li > a {
    color: #7C8589;
    padding: 15px 25px; }
  .dropdown-menu--user > li > a:hover, .dropdown-menu--user > li > a:focus {
    color: #7C8589; }

.input-group-addon {
  min-width: 40px;
  border-radius: 0; }
  .input-group-addon .hover-show {
    display: none; }
  .input-group-addon:hover .hover-show {
    display: inherit; }
  .input-group-addon:hover .hover-hide {
    display: none; }

.input-group-vmerge .input-group {
  margin-top: -1px; }
.input-group-vmerge input[readonly] {
  background-color: #fff;
  color: #DDDDDD; }
  .input-group-vmerge input[readonly]:focus {
    border-color: #CDD4D7; }

.input-groups-radiocheck label {
  font-weight: normal; }
.input-groups-radiocheck input {
  margin-right: 15px; }

.input-group--style-label .input-group-addon {
  border: 1px solid #CDD4D7;
  border-right: 0; }
.input-group--style-label label {
  display: table-cell;
  width: 100%;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #7C8589;
  font-weight: normal;
  background-color: #fff;
  text-align: left;
  outline: 0;
  border: 1px solid #CDD4D7; }

.input-group--style-button .input-group-addon {
  border: 0;
  border-right: 1px solid #CDD4D7; }
.input-group--style-button button {
  display: table-cell;
  width: 100%;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: none;
  text-align: left;
  outline: 0; }
  .input-group--style-button button:hover {
    background-color: #fbfbfb; }

.table--default {
  background-color: #fff; }
  .table--default th {
    font-weight: normal;
    color: #A0A8AC;
    padding: 10px;
    text-align: center; }

.Tab > .left {
  float: left;
  width: 250px; }
  .Tab > .left .navitem {
    font-size: 16px;
    border: 1px solid #CDD4D7;
    padding: 10px;
    display: block;
    color: #101010;
    border-top: none; }
.Tab > .right {
  width: auto;
  margin-left: 250px;
  padding: 15px;
  background-color: #FCFCFC; }
  .Tab > .right .navitem {
    display: none;
    font-size: 16px;
    border: 1px solid #CDD4D7;
    padding: 10px;
    color: #101010;
    border-top: none; }
.Tab .content {
  display: none; }
  .Tab .content.active {
    display: block; }

.formstyle1 {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 30px 20px;
  border: 1px solid #e6eaeb;
  color: #101010; }
  .formstyle1 a {
    color: #101010;
    text-decoration: underline; }
  .formstyle1 .form_title {
    padding: 20px 0;
    border-bottom: 1px solid #e6eaeb;
    margin-bottom: 35px; }
  .formstyle1 input {
    border: 1px solid #e6eaeb;
    margin-bottom: 20px; }
  .formstyle1 .form-control.error {
    background: transparent url(../images/icons/cross-icon.png) no-repeat center right 12px;
    border: 1px solid #ff2a00;
    outline: none; }
  .formstyle1 .form-control.valid {
    background: transparent url(../images/icons/green-check-icon.png) no-repeat center right 12px; }
  .formstyle1 label.error {
    position: absolute;
    left: 110%;
    top: -11px;
    width: 100%;
    color: #101010;
    background-color: #fff;
    padding: 18px;
    border: 1px solid #e6eaeb;
    font-weight: 100; }
  .formstyle1 .errordiv {
    position: absolute;
    left: 110%;
    top: -11px;
    width: 100%;
    color: #101010;
    background-color: #fff;
    padding: 18px;
    border: 1px solid #e6eaeb;
    font-weight: 100;
    display: none; }
    .formstyle1 .errordiv ul {
      padding: 0;
      margin: 0; }
      .formstyle1 .errordiv ul li {
        list-style: none; }
    .formstyle1 .errordiv .errorli {
      color: #ff2a00;
      background: transparent url(../images/icons/cross-icon.png) no-repeat center left;
      outline: none;
      padding: 0 22px;
      background-size: 10px; }
    .formstyle1 .errordiv .validli {
      color: #08b995;
      background: transparent url(../images/icons/green-check-icon.png) no-repeat center left;
      outline: none;
      padding: 0 22px;
      background-size: 10px; }

.loginform {
  padding: 50px 0;
  background-color: #ecf5f8; }

/*# sourceMappingURL=app.css.map */
