.page-panel {
  border: 1px solid #CDD4D7; }
  .page-panel__heading {
    background: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #CDD4D7; }
  .page-panel__inner {
    display: table;
    width: 100%;
    height: 800px; }
    .page-panel__inner__left {
      display: table-cell;
      width: 250px;
      vertical-align: top;
      background: #fff;
      border-right: 1px solid #CDD4D7; }
    .page-panel__inner__right {
      display: table-cell;
      width: 280px;
      vertical-align: top;
      background: #fff;
      border-left: 1px solid #CDD4D7; }
    .page-panel__inner__content {
      display: table-cell;
      padding: 20px;
      background-color: #FCFCFC; }
  @media screen and (max-width: 992px) {
    .page-panel {
      border: none; }
      .page-panel__heading {
        background: none;
        border: none; }
      .page-panel__inner__left, .page-panel__inner__right {
        display: none; }
      .page-panel__inner__content {
        padding: 0; } }

.tab-content .tab_drawer_heading {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  display: none; }
  .tab-content .tab_drawer_heading a {
    display: block;
    background-color: #fff;
    color: #101010;
    padding: 20px;
    text-decoration: none;
    border-bottom: 1px solid #CDD4D7; }
  .tab-content .tab_drawer_heading.d_active a {
    color: #FF713E; }
.tab-content .tab-pane {
  padding: 20px 0; }
@media screen and (max-width: 992px) {
  .tab-content .tab_drawer_heading {
    display: block; }
  .tab-content .tab-pane {
    padding: 20px; } }

.nav-tabs--vertical {
  border: none; }
  .nav-tabs--vertical > li {
    float: none;
    margin-bottom: 0; }
    .nav-tabs--vertical > li a {
      padding: 20px;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #CDD4D7;
      color: #101010; }
    .nav-tabs--vertical > li.active a, .nav-tabs--vertical > li.active a:hover, .nav-tabs--vertical > li.active a:focus {
      color: #FF713E;
      border: none;
      border-bottom: 1px solid #CDD4D7; }

.form-default .form-group {
  margin-bottom: 25px; }
  .form-default .form-group > label {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    margin-bottom: 15px;
    font-size: 16px; }
.form-default .form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: #CDD4D7; }
  .form-default .form-control:focus {
    border-color: #08B995; }

.comp-fileinput:after, .comp-fileinput:before {
  display: table;
  content: " "; }
.comp-fileinput:after {
  clear: both; }
.comp-fileinput .item {
  padding: 2px;
  display: inline-block;
  float: left; }
  .comp-fileinput .item > .inner {
    width: 150px;
    height: 150px;
    border: 1px solid #CDD4D7;
    position: relative;
    background-size: cover;
    background-position: center; }
  .comp-fileinput .item .title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 12px; }
  .comp-fileinput .item.selector .inner {
    display: table; }
  .comp-fileinput .item.selector label {
    display: table-cell;
    vertical-align: middle; }
    .comp-fileinput .item.selector label input {
      display: none; }
    .comp-fileinput .item.selector label .icon-placeholder {
      color: #7C8589;
      text-align: center; }
      .comp-fileinput .item.selector label .icon-placeholder i {
        font-size: 50px; }
    .comp-fileinput .item.selector label .placeholder {
      padding: 15px 0 0;
      font-size: 16px;
      font-weight: normal;
      color: #7C8589;
      text-align: center; }

.comp-zalen .table--horizontal {
  background-color: #fff; }
  .comp-zalen .table--horizontal.table > tbody > tr > th, .comp-zalen .table--horizontal.table > tbody > tr > td {
    padding: 0; }
  .comp-zalen .table--horizontal.table-bordered > thead > tr > th, .comp-zalen .table--horizontal.table-bordered > thead > tr > td {
    border-bottom-width: 1px; }
  .comp-zalen .table--horizontal th {
    font-weight: normal;
    color: #A0A8AC;
    padding: 10px;
    text-align: center; }
    .comp-zalen .table--horizontal th:first-child {
      background-color: #F0F0F0;
      color: #7C8589;
      min-width: 40px;
      font-size: 16px;
      padding: 0;
      vertical-align: middle; }
    .comp-zalen .table--horizontal th:nth-child(2) {
      min-width: 150px;
      text-align: left; }
  .comp-zalen .table--horizontal td {
    text-align: center; }
    .comp-zalen .table--horizontal td input {
      width: 100%;
      padding: 8px;
      border: none;
      outline: none;
      text-align: center;
      color: #7C8589; }
    .comp-zalen .table--horizontal td:first-child {
      background-color: #F0F0F0;
      color: #7C8589;
      font-size: 16px;
      padding: 0;
      vertical-align: middle; }
      .comp-zalen .table--horizontal td:first-child i {
        font-size: 16px; }
    .comp-zalen .table--horizontal td:nth-child(2) input {
      text-align: left; }
  .comp-zalen .table--horizontal tfoot .placeholder {
    text-align: left;
    color: #DDDDDD;
    display: block;
    font-weight: normal;
    margin: 0; }

body {
  background-color: #ECF5F8;
  font-family: 'Open Sans', sans-serif; }

div.clear {
  clear: both;
  height: 1px;
  overflow: hidden;
  font-size: 0pt;
  margin-top: -1px; }

.block-info {
  padding: 20px;
  border-bottom: 1px solid #CDD4D7; }
  .block-info .last_updated {
    color: #A0A8AC; }

.btn-green, .btn-green:focus {
  color: #fff;
  background-color: #08B995;
  border-color: #08B995;
  outline: none; }
  .btn-green:hover, .btn-green:focus:hover {
    color: #08B995;
    background-color: #fff;
    border-color: #08B995;
    outline: none; }

.btn-plain {
  border: none;
  color: #7C8589;
  background: none; }
  .btn-plain:hover {
    color: #08B995; }

.btn--round {
  border-radius: 40px;
  padding: 8px 20px; }

.btn--nopad {
  padding: 0; }

.input-group-vmerge .input-group {
  margin-top: -1px; }
.input-group-vmerge input[readonly] {
  background-color: #fff;
  color: #DDDDDD; }
  .input-group-vmerge input[readonly]:focus {
    border-color: #CDD4D7; }

.input-group-addon {
  min-width: 40px;
  border-radius: 0; }
  .input-group-addon .hover-show {
    display: none; }
  .input-group-addon:hover .hover-show {
    display: inherit; }
  .input-group-addon:hover .hover-hide {
    display: none; }

.Tab > .left {
  float: left;
  width: 250px; }
  .Tab > .left .navitem {
    font-size: 16px;
    border: 1px solid #CDD4D7;
    padding: 10px;
    display: block;
    color: #101010;
    border-top: none; }
.Tab > .right {
  width: auto;
  margin-left: 250px;
  padding: 15px;
  background-color: #FCFCFC; }
  .Tab > .right .navitem {
    display: none;
    font-size: 16px;
    border: 1px solid #CDD4D7;
    padding: 10px;
    color: #101010;
    border-top: none; }
.Tab .content {
  display: none; }
  .Tab .content.active {
    display: block; }

.formstyle1 {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 0 30px 20px;
  border: 1px solid #e6eaeb;
  color: #101010; }
  .formstyle1 a {
    color: #101010;
    text-decoration: underline; }
  .formstyle1 .form_title {
    padding: 20px 0;
    border-bottom: 1px solid #e6eaeb;
    margin-bottom: 35px; }
  .formstyle1 input {
    border: 1px solid #e6eaeb;
    margin-bottom: 20px; }
  .formstyle1 .form-control.error {
    background: transparent url(../images/icons/cross-icon.png) no-repeat center right 12px;
    border: 1px solid #ff2a00;
    outline: none; }
  .formstyle1 .form-control.valid {
    background: transparent url(../images/icons/green-check-icon.png) no-repeat center right 12px; }
  .formstyle1 label.error {
    position: absolute;
    left: 110%;
    top: -11px;
    width: 100%;
    color: #101010;
    background-color: #fff;
    padding: 18px;
    border: 1px solid #e6eaeb;
    font-weight: 100; }
  .formstyle1 .errordiv {
    position: absolute;
    left: 110%;
    top: -11px;
    width: 100%;
    color: #101010;
    background-color: #fff;
    padding: 18px;
    border: 1px solid #e6eaeb;
    font-weight: 100;
    display: none; }
    .formstyle1 .errordiv ul {
      padding: 0;
      margin: 0; }
      .formstyle1 .errordiv ul li {
        list-style: none; }
    .formstyle1 .errordiv .errorli {
      color: #ff2a00;
      background: transparent url(../images/icons/cross-icon.png) no-repeat center left;
      outline: none;
      padding: 0 22px;
      background-size: 10px; }
    .formstyle1 .errordiv .validli {
      color: #08b995;
      background: transparent url(../images/icons/green-check-icon.png) no-repeat center left;
      outline: none;
      padding: 0 22px;
      background-size: 10px; }

.loginform {
  padding: 50px 0;
  background-color: #ecf5f8; }

.btn-green {
  border-radius: 20px;
  padding: 8px 19px;
  font-size: 16px;
  background-color: #08b995;
  outline: none;
  color: #fff; }

/*# sourceMappingURL=app.css.map */
